<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% if title %}{{ title }} - {% endif %}SF2 Tutorial</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        {% stylesheets
            '@TutoAlbumBundle/Resources/public/css/*'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
    
        <header>
            <div class="container">
                <a href="{{ path('_index') }}" id="home" title="Home">Symfony2 Tutorial</a>
            </div>
        </header>
        
        <div class="container">
        
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
    
            {% block content %}
            {% endblock %}
            <hr/>
            
            <footer>{{ render(controller('TutoAlbumBundle:Album:footer')) }}</footer>
            
        </div>
    
    </body>
</html>
