{% extends "TutoAlbumBundle::layout.html.twig" %}

{% block content %}

<h1>{{ title }}</h1>

<form action="{{ path('_edit', {'id': id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    <div>
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title, {'attr': {'size': 50}}) }}
    </div>
    <div>
        {{ form_label(form.artist) }}
        {{ form_errors(form.artist) }}
        {{ form_widget(form.artist, {'attr': {'size': 50}}) }}
    </div>
    {{ form_rest(form) }}

    <input type="submit" value="{{ submitValue }}"/>
</form>

{% endblock %}
